nav {
  position: fixed;
  width: 25vw;
  height: 100vh;
  line-height: 40px;
  float: left;
  display: inline;
  background-image: linear-gradient(to right, #76ace3, #3b94ed, #187bde);
  overflow: hidden;
  font-weight: bold;
}
nav .intials {
  text-align: center;
  color: white;
  font-size: 4rem;
}
nav .border-line {
  border: 1px solid black;
  margin-bottom: 40px;
}
nav a {
  color: black;
  transition: color 1.5s;
}
nav a:hover {
  cursor: pointer;
  color: cornsilk;
}
nav .top-left a {
  text-decoration: none;
  color: aqua;
}

.social-media {
  float: left;
  flex-wrap: wrap;
  justify-content: center;
}

.instagram {
  color: purple;
  font-size: 2.5vw;
  margin-right: 20px;
  margin-left: 40px;
}
.instagram:hover {
  cursor: pointer;
}

.linkedin {
  color: blue;
  font-size: 2.5vw;
}
.linkedin:hover {
  cursor: pointer;
}

.sidebar-navigation {
  height: 35%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  background-image: linear-gradient(to right, #76ace3, #3b94ed, #187bde);
  overflow: hidden;
  transition: 0.5s;
  padding-top: 40px;
}
.sidebar-navigation li {
  list-style: none;
  line-height: 38px;
  padding-top: 10px;
  text-align: center;
  padding-right: 10px;
  padding-left: 0;
  font-size: 20px;
}
.sidebar-navigation a {
  color: white;
  transition: color 1.5s;
}
.sidebar-navigation a:hover {
  cursor: pointer;
  color: red;
}
.sidebar-navigation .navigation-seperator {
  border: 1px solid white;
  margin-top: 5px;
}

#banner {
  position: relative;
  background-image: url(../imgs/cover-img.jpg);
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}
#banner .banner-content {
  text-align: center;
  margin: auto;
  width: 60%;
  color: white;
}
#banner h1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-weight: bold;
  font-size: 6vw;
}
#banner p {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-weight: 300;
  font-size: 4vw;
}
#banner span {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 20px;
}
#banner span:hover {
  cursor: pointer;
  text-decoration: underline;
}
#banner #down-arrow {
  position: absolute;
  top: 94%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 20px;
}

@media (min-width: 576px) {
  .about-me-content li {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 0;
    padding-top: 15px;
  }
  .scs-navigation li {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 0;
    padding-top: 15px;
  }
  .card-one {
    max-width: 49%;
    margin-right: 10px;
  }
  .card-two {
    max-width: 49%;
  }
  .card-three {
    max-width: 49%;
    margin-right: 10px;
  }
  .card-four {
    max-width: 49%;
  }
  .card-five {
    max-width: 49%;
    margin-right: 10px;
  }
  .card-six {
    max-width: 49%;
  }
}
@media (max-width: 767px) {
  nav {
    display: none;
  }
}
@media (min-width: 768px) {
  .sidebar-navigation {
    display: none;
  }
  .hamburger-btn {
    display: none;
  }
  .all-scs-info {
    margin-left: 25%;
  }
  .scs-navigation {
    margin-left: 25%;
  }
  #scs-heading {
    margin-left: 25%;
  }
  #coding-header {
    margin-left: 25%;
  }
  .about-me {
    margin-left: 25%;
  }
  .about-me-content {
    margin-left: 25%;
  }
  .all-about-me {
    margin-left: 25%;
  }
  #banner {
    margin-left: 25%;
  }
  .project-heading {
    margin-left: 25%;
  }
  .cards {
    margin-left: 25%;
  }
  .card-one {
    max-width: 75%;
  }
  .card-two {
    max-width: 75%;
  }
  .card-three {
    max-width: 75%;
  }
  .card-four {
    max-width: 75%;
  }
  .card-five {
    max-width: 75%;
  }
  .card-six {
    max-width: 75%;
  }
  .get-in-touch {
    margin-left: 25%;
  }
  nav {
    line-height: 60px;
  }
  .hide {
    display: none;
  }
}
@media (min-width: 992px) {
  nav {
    font-size: 20px;
  }
  #banner {
    height: 100vh;
  }
  #banner h1 {
    font-size: 40px;
  }
  #banner p {
    top: 62%;
    font-size: 30px;
  }
  .card-one {
    max-width: 37%;
    margin-right: 10px;
  }
  .card-two {
    max-width: 37%;
  }
  .card-three {
    max-width: 37%;
    margin-right: 10px;
  }
  .card-four {
    max-width: 37%;
  }
  .card-five {
    max-width: 37%;
    margin-right: 10px;
  }
  .card-six {
    max-width: 37%;
  }
  .hide {
    display: none;
  }
}
@media (min-width: 1200px) {
  nav {
    max-width: 20%;
  }
  .all-scs-info {
    margin-left: 20%;
  }
  .scs-navigation {
    margin-left: 20%;
  }
  .scs-navigation ul {
    display: none;
  }
  #scs-heading {
    margin-left: 20%;
  }
  #coding-header {
    margin-left: 20%;
  }
  .about-me {
    margin-left: 20%;
  }
  .about-me-content {
    margin-left: 20%;
  }
  .about-me-content ul {
    display: none;
  }
  .all-about-me {
    margin-left: 20%;
  }
  #banner {
    margin-left: 20%;
    height: 100vh;
  }
  .project-heading {
    margin-left: 20%;
  }
  .cards {
    margin-left: 20%;
  }
  .get-in-touch {
    margin-left: 20%;
  }
  .card-one {
    margin-left: 24px;
    max-width: 26%;
    margin-right: 10px;
  }
  .card-two {
    max-width: 26%;
    margin-right: 10px;
  }
  .card-three {
    max-width: 26%;
  }
  .card-four {
    margin-left: 24px;
    max-width: 26.1%;
    margin-right: 10px;
  }
  .card-five {
    max-width: 26.1%;
    margin-right: 10px;
  }
  .card-six {
    max-width: 26.1%;
  }
  .form {
    justify-content: center;
    padding-top: 20px;
    width: 100%;
  }
}
@media (min-width: 1500px) {
  nav {
    max-width: 15%;
  }
  .all-scs-info {
    margin-left: 15%;
  }
  .scs-navigation {
    margin-left: 15%;
  }
  #scs-heading {
    margin-left: 15%;
  }
  #coding-header {
    margin-left: 15%;
  }
  .about-me-content {
    margin-left: 15%;
  }
  .all-about-me {
    margin-left: 15%;
  }
  #banner {
    margin-left: 15%;
  }
  .project-heading {
    margin-left: 15%;
  }
  .cards {
    margin-left: 15%;
  }
  .get-in-touch {
    display: flex;
    margin-left: 15%;
  }
  .form {
    width: 50%;
    float: right;
    padding-left: 50px;
  }
  .contact-text {
    margin-left: 10px;
    width: 40%;
    height: 100%;
  }
}
.hamburger-btn {
  height: 80px;
  width: 80px;
  font-size: 20px;
  background-color: black;
  border: none;
}
.hamburger-btn .hamburger-logo {
  font-size: 40px;
  color: white;
}
.hamburger-btn:hover {
  cursor: pointer;
}
.hamburger-btn .hamburger-logo:hover {
  transform: rotate(180deg);
  transition-duration: 1s;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 34px;
  margin-left: 50px;
  width: 40px;
  height: 40px;
  border: none;
  color: white;
  background-color: transparent;
}
.close-btn .closing-cross {
  color: white;
}
.close-btn .closing-cross:hover {
  transform: rotate(180deg);
  transition-duration: 1s;
}

.project-heading {
  padding-top: 10px;
}
.project-heading h2 {
  font-size: 30px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  height: 100%;
  width: 98%;
  text-align: center;
  line-height: 25px;
}
.cards img {
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cards:hover {
  cursor: pointer;
}

.card-one {
  width: 100%;
  margin-bottom: 20px;
  border: 2px solid black;
  background-color: white;
}
.card-one:hover {
  transform: translateY(-5px);
  transition-duration: 1s;
  background-color: black;
  color: white;
}
.card-one a {
  text-decoration: none;
  color: black;
  transition: color 1.5s;
}
.card-one a:hover {
  color: white;
}

.card-two {
  width: 100%;
  margin-bottom: 20px;
  border: 2px solid black;
  background-color: white;
}
.card-two:hover {
  transform: translateY(-5px);
  transition-duration: 1s;
  background-color: black;
  color: white;
}

.card-three {
  width: 100%;
  margin-bottom: 20px;
  border: 2px solid black;
  background-color: white;
}
.card-three:hover {
  transform: translateY(-5px);
  transition-duration: 1s;
  background-color: black;
  color: white;
}

.card-four {
  width: 100%;
  margin-bottom: 20px;
  border: 2px solid black;
  background-color: white;
}
.card-four:hover {
  transform: translateY(-5px);
  transition-duration: 1s;
  background-color: black;
  color: white;
}

.card-five {
  width: 100%;
  margin-bottom: 20px;
  border: 2px solid black;
  background-color: white;
}
.card-five:hover {
  transform: translateY(-5px);
  transition-duration: 1s;
  background-color: black;
  color: white;
}

.card-six {
  width: 100%;
  margin-bottom: 20px;
  border: 2px solid black;
  background-color: white;
}
.card-six:hover {
  transform: translateY(-5px);
  transition-duration: 1s;
  background-color: black;
  color: white;
}

.get-in-touch {
  line-height: 1.2;
  background-color: #333645;
  color: wheat;
  font-weight: 600;
  font-size: 20px;
  padding: 15px;
}
.get-in-touch .phone {
  color: #a05dfc;
  padding-bottom: 10px;
  margin-right: 5px;
}
.get-in-touch .envelope {
  color: red;
  margin-right: 5px;
}
.get-in-touch .envelope-span {
  font-size: 13px;
  margin-left: 5px;
}
.get-in-touch .phone-span {
  font-size: 13px;
  margin-left: 5px;
}

.form {
  display: flex;
  letter-spacing: normal;
  margin-left: 20px;
}

.name {
  display: flex;
  width: 96%;
}

#fname {
  width: 90%;
  height: 40px;
  margin-right: 20px;
  background-color: #659DBD;
  border: 2px solid black;
  font-size: 12px;
}

#sname {
  width: 90%;
  height: 40px;
  background-color: #659DBD;
  border: 2px solid black;
  font-size: 12px;
}

#email {
  width: 96%;
  margin-top: 15px;
  height: 40px;
  background-color: #659DBD;
  border: 2px solid black;
  font-size: 12px;
}

#subject {
  width: 96%;
  height: 40px;
  margin-top: 15px;
  background-color: #659DBD;
  border: 2px solid black;
  font-size: 12px;
}

#message {
  width: 96%;
  height: 150px;
  margin-top: 15px;
  background-color: #659DBD;
  border: 2px solid black;
  font-size: 12px;
}

.submit-btn {
  margin-top: 15px;
  width: 30%;
  height: 40px;
  font-weight: bold;
  background-color: #659DBD;
  border: 2px solid black;
  font-size: 14px;
  transition: color 1s;
  transition: background-color 1s;
}
.submit-btn:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

::-webkit-input-placeholder {
  color: black;
}

.about-me {
  text-align: center;
  margin-top: 30px;
  text-decoration: underline;
  font-weight: bold;
  justify-content: center;
  color: floralwhite;
}

.avatar {
  height: 80px;
}

.about-me-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: linear-gradient(to bottom, black, gray, black);
  padding-top: 10px;
}
.about-me-content li {
  list-style: none;
  text-align: center;
  margin-right: 20px;
  margin-bottom: 20px;
}
.about-me-content a {
  text-decoration: none;
  transition: color 1.5s;
  color: white;
  font-weight: bold;
}
.about-me-content a:hover {
  cursor: pointer;
  color: yellow;
}

#about-section-1 {
  padding: 5px;
  color: white;
  background-color: #333645;
}
#about-section-1 h2 {
  font-size: 20px;
  color: #C4A484;
}
#about-section-1 p {
  font-size: 15px;
}
#about-section-1 a {
  text-decoration: none;
  color: green;
}
#about-section-1 a:hover {
  cursor: pointer;
}

#hobbies {
  border-top: 2px solid black;
  padding: 5px;
  color: white;
  background-color: #333645;
}
#hobbies h2 {
  font-size: 20px;
  color: #C4A484;
}
#hobbies p {
  font-size: 15px;
}
#hobbies a {
  text-decoration: none;
  color: yellow;
}
#hobbies a:hover {
  cursor: pointer;
}

#education {
  border-top: 2px solid black;
  padding: 5px;
  color: white;
  background-color: #333645;
}
#education h2 {
  font-size: 20px;
  color: #C4A484;
}
#education p {
  font-size: 15px;
}

#career-path {
  border-top: 2px solid black;
  padding: 5px;
  color: white;
  background-color: #333645;
}
#career-path h2 {
  font-size: 20px;
  color: #C4A484;
}
#career-path p {
  font-size: 15px;
}

#coding-header {
  justify-content: center;
  font-size: 25px;
}
#coding-header h1 {
  text-align: center;
  color: red;
}
#coding-header p {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}
#coding-header a {
  text-decoration: none;
  color: lime;
  transition: color 2s;
}
#coding-header a:hover {
  cursor: pointer;
  color: black;
  text-decoration: underline;
}

#scs-heading {
  text-align: center;
  font-weight: bold;
  justify-content: center;
  color: floralwhite;
  margin-top: 65px;
  margin-bottom: 65px;
}

.scs-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: linear-gradient(to bottom, black, gray, black);
  padding-top: 10px;
}
.scs-navigation ul {
  text-align: center;
}
.scs-navigation li {
  list-style: none;
  text-align: center;
  margin-right: 20px;
  margin-bottom: 20px;
}
.scs-navigation a {
  text-decoration: none;
  transition: color 1.5s;
  color: white;
  font-weight: bold;
}
.scs-navigation a:hover {
  cursor: pointer;
  color: yellow;
}

.all-scs-info #introduction {
  padding: 10px;
  color: #FFFDD0;
  background-color: #333645;
  padding-bottom: 50px;
}
.all-scs-info #introduction h2 {
  font-size: 25px;
  color: #C4A484;
  margin-left: 5px;
  margin-right: 5px;
}
.all-scs-info #introduction p {
  font-size: 20px;
  margin-left: 5px;
  margin-right: 5px;
}
.all-scs-info #treehouse {
  padding: 10px;
  color: #FFFDD0;
  background-color: #333645;
  border: 1px solid black;
  padding-bottom: 50px;
}
.all-scs-info #treehouse h2 {
  font-size: 25px;
  color: #C4A484;
  margin-left: 5px;
  margin-right: 5px;
}
.all-scs-info #treehouse p {
  font-size: 20px;
  margin-left: 5px;
  margin-right: 5px;
}
.all-scs-info #treehouse a {
  text-decoration: none;
  color: green;
  transition: color 2s;
  margin-right: 5px;
  margin-left: 5px;
}
.all-scs-info #treehouse a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: white;
}
.all-scs-info #netmatters {
  padding: 10px;
  color: #FFFDD0;
  background-color: #333645;
  justify-content: center;
  border: 1px solid black;
  padding-bottom: 50px;
}
.all-scs-info #netmatters h2 {
  font-size: 25px;
  color: #C4A484;
  margin-left: 5px;
  margin-right: 5px;
}
.all-scs-info #netmatters p {
  font-size: 20px;
  margin-left: 5px;
  margin-right: 5px;
}
.all-scs-info #netmatters ol {
  font-size: 20px;
  margin-right: 5px;
}

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  font-family: Georgia, sans-serif;
  margin: 0 !important;
  padding: 0 !important;
  background-image: linear-gradient(to right, #3b94ed, #187bde);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
}

#typewriter::after {
  content: "";
  margin-left: 5px;
  -webkit-animation: blink 0.7s;
          animation: blink 0.7s;
}

#p-typewriter::after {
  content: "";
  margin-left: 3px;
  -webkit-animation: blink 0.7s;
          animation: blink 0.7s;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}/*# sourceMappingURL=style.css.map */