
.about-me {
    text-align: center;
    margin-top: 30px;
    text-decoration: underline;
    font-weight: bold;
    justify-content: center;
}

.avatar {
    height: 80px;
}

.about-me-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #5392b5;
    padding-top: 10px;
    li {
        list-style: none;
        text-align: center;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    a {
        text-decoration: none;
        transition: color 1s;
        color: black;
        &:hover {
            cursor: pointer;
            text-decoration: underline; 
            color: white;
        }
    }   
}


#about-section-1 {
    padding: 5px;
    color: white;
    background-color: #333645;
    h2 {
        font-size: 20px;
        color: #C4A484;
    }
    p {
        font-size: 15px;
    }
    a {
        text-decoration: none;
        color: green;
        &:hover {
            cursor: pointer;
        }
    }
}

#hobbies {
    border-top: 2px solid black;
    padding: 5px;
    color: white;
    background-color: #333645;
    h2 {
        font-size: 20px;
        color: #C4A484;
    }
    p {
        font-size: 15px;
    }
    a {
    text-decoration: none;
        color: yellow;
        &:hover {
            cursor: pointer;
        }
    }
}

#education {
    border-top: 2px solid black;
    padding: 5px;
    color: white;
    background-color: #333645;
    h2 {
        font-size: 20px;
        color: #C4A484;
    }
    p {
        font-size: 15px;
    }
}

#career-path {
    border-top: 2px solid black;
    padding: 5px;
    color: white;
    background-color: #333645;
    h2 {
        font-size: 20px;
        color: #C4A484;
    }
    p {
        font-size: 15px;
    }
}