.code-type {
    text-align: center;
}

.first-code {
    text-align: center;
    padding: 10px;
    img {
        height: 40vh;
        margin-top: 30px;
        border: 2px solid red;
        border-radius: 10%;
    }
    p {
        font-weight: 600;
    }
}

table {
    border-collapse: collapse;
    width: 40%;
}

#bottom-table {
    margin-bottom: 20px;
}

table, th, td {
    border:1px solid black;
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
  }

  th, td {
    padding: 5px;
  }

.second-code {
    text-align: center;
    p {
        padding-left: 50px;
        padding-right: 50px;
        font-weight: bold;
    }
}

