.code-header {
    text-align: center;
}

.code-type {
    margin-top: 0;
}

.flex-container-coding-page {
    display: flex;
}

.first-code {
    text-align: center;
    padding: 10px;
    background-color: #00A2F1;
    border-bottom: 2px solid #F9F871;
    img {
        height: 50vh;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 20px;
        margin-left: 3%;
    }
    p {
        font-weight: 600;
        font-size: 20px;
        padding-right: 20px;
    }
}

table {
    border-collapse: collapse;
    width: 40%;
}

#bottom-table {
    overflow: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 3%;
}

table, th, td {
    border:1px solid black;
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
  }

  th, td {
    padding: 5px;
  }

.second-code {
    text-align: center;
    padding-top: 20px;
    background-color: #00A2F1;
    border-bottom: 2px solid #F9F871;
    p {
        font-weight: 600;
        font-size: 20px;
        padding-right: 20px;
        width: 400px;
    }
}

th, td {
    text-align: left;
    padding: 8px;
  }
  
#table-container {
    overflow: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 3%;
}

#small-screen-warning {
    color: red;
}

.outcome-text {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.third-code {
    text-align: center;
    padding: 10px;
    background-color: #00A2F1;
    border-bottom: 2px solid #F9F871;
    img {
        height: 50vh;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 20px;
        margin-left: 3%;
    }
    p {
        font-weight: 600;
        font-size: 20px;
        padding-right: 20px;
    }
    .third-container {
        margin-top: 0;
    }
}

.fourth-code {
    text-align: center;
    padding: 10px;
    background-color: #00A2F1;
    border-bottom: 2px solid #F9F871;
    img {
        height: 50vh;
    }
    p {
        font-weight: 600;
        font-size: 20px;
        padding-right: 20px;
    }
    .text-coding-container {
        margin-top: 0;
    }
}

.img-container {
    justify-content: center;
    gap: 2%
}

.figcaption-no-flex {
    position: absolute
}

.hide-on-big-screen {
    display: none;
}

.hide-on-small-screen {
    display: none;
}

.wordpress-explained {
    gap: 2%;
    justify-content: center;
    p {
        width: 650px;
    }
}

#param-link {
    text-decoration: none;
    color: black;
    &:hover {
        text-decoration: underline;
        color: white;
        transition: 0.5s;
    }
}