.hamburger-btn {
    position: fixed;
    z-index: 2;
    height: 70px;
    width: 70px;
    background-color: black;
    border: none;
    .hamburger-logo {
        font-size: 40px;
        color: white;
    }
    &:hover {
        cursor: pointer;
    }
    .hamburger-logo:hover {
        transform: rotate(180deg);
        transition-duration: 1s;
    }
}

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 34px;
    margin-left: 50px;
    width: 40px;
    height: 40px;
    border: none;
    color: white;
    background-color: transparent;
    .closing-cross {
        color: white;
    }
    .closing-cross:hover {
        transform: rotate(180deg);
        transition-duration: 1s;
    }
}