@media (min-width: 576px) { // S size
    .card-one {
        max-width: 49%;
        margin-right: 10px;
    }
    .card-two {
        max-width: 49%;
    }
    .card-three {
        max-width: 49%;
        margin-right: 10px;
    }
    .card-four {
        max-width: 49%;
    }
    .card-five {
        max-width: 49%;
        margin-right: 10px;
    }
    .card-six {
        max-width: 49%;
    }
}

@media (max-width: 767px) {
    nav {
        display: none;
    }
}

@media (min-width: 768px) {
    .hamburger-btn {
        display: none;
    }
    .about-me {
        margin-left: 25%;
    }
    .about-me-content {
        margin-left: 25%;
    }
    .all-about-me {
        margin-left: 25%;
    }
    #banner {
        margin-left:25%;
    }
    .cards {
        margin-left:25%;
    }
    .card-one {
        max-width: 75%;
    }
    .card-two {
        max-width: 75%;
    }
    .card-three {
        max-width: 75%;
    }
    .card-four {
        max-width: 75%;
    }
    .card-five {
        max-width: 75%;
    }
    .card-six {
        max-width: 75%;
    }
    .get-in-touch {
        margin-left:25%;
    }
    nav {
        line-height: 60px;
    }
    .hide {
        display: none;
    }
}

@media (min-width: 992px) {
    nav {
        font-size: 20px;
    }
    #banner {
        height: 75vh;
        h1 {
            font-size: 40px;
        }
        p {
            top:62%;
            font-size: 30px;
        }
    }
    .card-one {
        max-width: 37%;
        margin-right: 10px;
    }
    .card-two {
        max-width: 37%;
    }
    .card-three {
        max-width: 37%;
        margin-right: 10px;
    }
    .card-four {
        max-width: 37%;
    }
    .card-five {
        max-width: 37%;
        margin-right: 10px;
    }
    .card-six {
        max-width: 37%;
    }
    .hide {
        display: none;
    }
}

@media (min-width: 1200px) {
    nav {
        max-width: 20%;
    }
    .about-me {
        margin-left: 20%;
    }
    .about-me-content {
        ul {
            display: none;
        }
    }
    .all-about-me {
        margin-left: 20%;
    }
    #banner {
        margin-left: 20%;
        height: 50vh;
    }
    .cards {
        margin-left: 20%;
    }
    .get-in-touch {
        margin-left: 20%;
    }
    .card-one {
        margin-left: 24px;
        max-width: 26%;
        margin-right: 10px;
    }
    .card-two {
        max-width: 26%;
        margin-right: 10px;
    }
    .card-three {
        max-width: 26%;
    }
    .card-four {
        margin-left: 24px;
        max-width: 26.1%;
        margin-right: 10px;
    }
    .card-five {
        max-width: 26.1%;
        margin-right: 10px;
    }
    .card-six {
        max-width: 26.1%;
    }
}

@media (min-width: 1500px) {
    
    .about-me-content {
        margin-left: 20%;
    }
    .all-about-me {
        margin-left: 20%;
    }
    #banner {
        margin-left: 20%;
    }
    .cards {
        margin-left: 20%;
    }
    .get-in-touch {
        display: flex;
        margin-left: 20%;
    }
    .form {
        width: 50%;
        float: right;
    }
    .contact-text {
        margin-left: 10px;
        width: 40%;
        height: 100%;
    }
}