#banner {
    position: relative;
    background-image: url(../imgs/cover-img2.jpg);
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    .banner-content {
        text-align: center;
        margin: auto;
        width: 60%;
        color: white;
    }
    h1 {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        font-weight: bold;
        font-size: 6vw;
        // background-color: black;
    }
    p {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        font-size: 4vw;
        font-weight: bold;
    }
    #p-typewriter {
        top: 47%;
        font-weight: bold;
    }
    span {
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        font-size: 20px;
        font-weight: bold;
        color: white;
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

// #down-arrow {
//     position: absolute;
//     top: 93%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     margin: 0;
//     font-size: 20px;
// } 
// I have changed the down arrow to make it in the same span as "Scroll down" so when the user hovers over the arrow or text they can click and scroll down.
// I will keep the CSS commented incase of changes.