.project-heading {
    padding-top: 10px;
    h2 {
        font-size: 30px;
    }
}

#header-whilst-hovering {
    display: none;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    height: 100%;
    width: 98%;  
    text-align: center;
    line-height: 25px;
    img {
        height: 200px;
        width: 100%;
        object-fit: cover;
    } 
    &:hover {
        cursor: pointer;
    }
}

.card-one {
    width: 100%;
    margin-bottom: 20px;
    border: 2px solid black;
    background-color: white;
    &:hover {
        transform: translateY(-5px);
        transition-duration: 1s;
        background-color: black;
        color: white;
        #header-without-hover {
            display: none;
        }
        #header-whilst-hovering {
            display: inline;
        }
    }
    a {
        text-decoration: none;
        color: black;
        transition: color 1.5s;
        &:hover {
            color: white;
        }
    }
}

.card-two {
    width: 100%;
    margin-bottom: 20px;
    border: 2px solid black;
    background-color: white;
    &:hover {
        transform: translateY(-5px);
        transition-duration: 1s;
        background-color: black;
        color: white;
    }
    a {
        text-decoration: none;
        color: black;
        transition: color 1.5s;
        &:hover {
            color: white;
        }
    }
}

.card-three {
    width: 100%;
    margin-bottom: 20px;
    border: 2px solid black;
    background-color: white;
    &:hover {
        transform: translateY(-5px);
        transition-duration: 1s;
        background-color: black;
        color: white;
    }
}

.card-four {
    width: 100%;
    margin-bottom: 20px;
    border: 2px solid black;
    background-color: white;
    &:hover {
        transform: translateY(-5px);
        transition-duration: 1s;
        background-color: black;
        color: white;
    }
}

.card-five {
    width: 100%;
    margin-bottom: 20px;
    border: 2px solid black;
    background-color: white;
    &:hover {
        transform: translateY(-5px);
        transition-duration: 1s;
        background-color: black;
        color: white;
    }
}

.card-six {
    width: 100%;
    margin-bottom: 20px;
    border: 2px solid black;
    background-color: white;
    &:hover {
        transform: translateY(-5px);
        transition-duration: 1s;
        background-color: black;
        color: white;
    }
}

