.get-in-touch {
    line-height: 1.2;
    background-color: #376580;
    margin-bottom: 15px;
    color: black;
    font-weight: 600;
    font-size: 20px;
    padding: 15px;
    .phone {
        color: #a05dfc;
        padding-bottom: 10px;
    }
    .envelope {
        color: red;
    }
    .envelope-span {
        font-size: 18px;
    }
    .phone-span {
        font-size: 18px;
    }
}
