.form {
    display: flex;
    letter-spacing: normal;
}

#fname {
    width: 44%;
    height: 40px;
    margin-right: 20px;
    background-color: #659DBD;
    border: 2px solid black;
    font-size: 18px;
}

#sname {
    width: 44%;
    height: 40px;
    background-color: #659DBD;
    border: 2px solid black;
    font-size: 18px;
}

#email {
    width: 95%;
    margin-top: 15px;
    height: 40px;
    background-color: #659DBD;
    border: 2px solid black;
    font-size: 18px;
}

#subject {
    width: 95%;
    height: 40px;
    margin-top: 15px;
    background-color: #659DBD;
    border: 2px solid black;
    font-size: 18px;
}

#message {
    width: 95%;
    height: 150px;
    margin-top: 15px;
    background-color: #659DBD;
    border: 2px solid black;
    font-size: 18px;
}

.submit-btn {
    margin-top: 15px;
    width: 30%;
    height: 40px;
    font-weight: bold;
    background-color: #659DBD;
    border: 2px solid black;
    font-size: 18px;
    transition: color 1s;
    transition: background-color 1s;
    &:hover {
        cursor: pointer;
        background-color: black;
        color: white;
    }
}