.form {
    display: flex;
    letter-spacing: normal;
    margin-left: 20px;
}

.name {
    display: flex;
    width: 96%;
}

#fname {
    width: 90%;
    height: 40px;
    margin-right: 20px;
    background-color: #659DBD;
    border: 2px solid black;
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
}

#sname {
    width: 90%;
    height: 40px;
    background-color: #659DBD;
    border: 2px solid black;
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
}

#email {
    width: 96%;
    margin-top: 15px;
    height: 40px;
    background-color: #659DBD;
    border: 2px solid black;
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
}

#subject {
    width: 96%;
    height: 40px;
    margin-top: 15px;
    background-color: #659DBD;
    border: 2px solid black;
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
}

#message {
    width: 96%;
    height: 150px;
    margin-top: 15px;
    background-color: #659DBD;
    border: 2px solid black;
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
}




.submit-btn {
    margin-top: 15px;
    width: 30%;
    height: 40px;
    font-weight: bold;
    background-color: #659DBD;
    border: 2px solid black;
    font-size: 14px;
    transition: color 1s;
    transition: background-color 1s;
    &:hover {
        cursor: pointer;
        background-color: black;
        color: white;
    }
}

::-webkit-input-placeholder {
    color: black;
}

#warning-form-fname, #warning-form-lname,
#warning-form-email, #warning-form-regex,
#warning-form-subject, #warning-form-message  {
    display: none;
    color: red;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 2px;
}

.form-cross {
    color: red;
    font-size: 14px;
}