.form {
    display: flex;
    letter-spacing: normal;
}

#fname {
    width: 44%;
    height: 40px;
    margin-right: 20px;
    background-color: #659DBD;
    border: 2px solid black;
}

#sname {
    width: 44%;
    height: 40px;
    background-color: #659DBD;
    border: 2px solid black;
}

#email {
    width: 95%;
    margin-top: 15px;
    height: 40px;
    background-color: #659DBD;
    border: 2px solid black;
}

#subject {
    width: 95%;
    height: 40px;
    margin-top: 15px;
    background-color: #659DBD;
    border: 2px solid black;
}

#message {
    width: 95%;
    height: 150px;
    margin-top: 15px;
    background-color: #659DBD;
    border: 2px solid black;
}

.submit-btn {
    margin-top: 15px;
    width: 30%;
    height: 40px;
    font-weight: bold;
    background-color: #659DBD;
    border: 2px solid black;
}