nav {    
    position: fixed;
    width:25vw;
    height: 100vh;
    line-height: 40px;
    float: left;
    display: inline;
    background-image: linear-gradient(to right, #376580 , aqua);
    overflow: hidden;
    font-weight: bold;
    .intials {
        text-align: center;
        color: chartreuse;
        font-size: 4rem;
    }
    .border-line {
        border: 1px solid black;
        margin-bottom: 40px;
    }
    a {
        color: black;
        transition: color 1.5s;
    }
    a:hover {
        cursor: pointer;
        color: cornsilk;
    }
    .top-left a {
        text-decoration: none;
        color: aqua;
    }
  }


  .social-media {
    float: left;
    flex-wrap: wrap;
    justify-content: center;
}
 
.instagram {
    color: purple;
    font-size: 2.5vw;
    margin-right: 20px;
    margin-left: 40px;
    &:hover {
        cursor: pointer;
    }
}

.linkedin {
    color: blue;
    font-size: 2.5vw;
    &:hover {
        cursor: pointer;
    }
}

// The side bar navigation (on click with Hamburger button)
.sidebar-navigation {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow: hidden;
    transition: 0.5s;
    padding-top: 40px;
    .sidebar ul {
        list-style: none;
        margin-top: 10px;
    }
    li {
        list-style: none;
        line-height: 30px;
        padding-top: 10px;
    }
    a {
        color: white;
        transition: color 1.5s;
    }
    a:hover {
        cursor: pointer;
        color: black;
    }
}
