nav {    
    position: fixed;
    width:25vw;
    height: 100vh;
    line-height: 40px;
    float: left;
    display: inline;
    background-color: #376580;
    overflow: hidden;
    font-weight: bold;
    .intials {
        text-align: center;
        color: cyan;
        font-size: 4rem;
    }
    .border-line {
        border: 1px solid black;
        margin-bottom: 40px;
    }
    a {
        color: black;
        transition: color 1s;
    }
    a:hover {
        cursor: pointer;
        text-decoration: underline; 
        color: white;
    }
    .social-media {
        display: flex;
        flex-wrap: wrap;
    }
    .instagram {
        color: purple;
        font-size: 4vw;
        width: 10%;
        &:hover {
            cursor: pointer;
        }
    }
    .linkedin {
        color: blue;
        font-size: 4vw;
        width: 10%;
        &:hover {
            cursor: pointer;
        }
    }
    .top-left a {
        text-decoration: none;
        color: aqua;
    }
  }
